header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    nav ul {
        list-style: none;

        li {
            font-size: 20px;
            list-style: none;

            a {
                color: black;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}