/* Productos */

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif cursive;
    color: #f6b332;
}

.card-title {
    color: #802428;
    font-weight: bold;
}

.fondo-productos {
    background-image: url(../img/local.jpg);
}

/* FIN PRODUCTOS */